<%- include('head') %>
  <%- include('navbar') %>

    <h1>
      Home Page
    </h1>
    <p>
      <%= msg %>
    </p>
    <p>
      <%= msg %>
    </p>
    <p>
      <%= validated %>
    </p>
    <!-- Trusted HTML: -->
    <div>
      <%- html %>
    </div>