<!-- ðŸ¨ We get the same result with the following code: -->
<h1>
  <%= msg %>
</h1>
<!-- ðŸ¨ We can use locals to pass data to the view -->
<h1>
  <%= locals.msg %>
</h1>
<h2>
  <%= msg2 %>
</h2>
<!-- ðŸ¨ You dont have to use locals to pass data -->
<h3>
  <%= locals.validated %>
</h3>
<h3>
  <%= validated %>
</h3>
<!-- ðŸ¨ Trusted HTML: -->
<div>
  <%- html %>
</div>